{
    "values": {
        "my_jdbc": "${ppmrps_jdbc}",
        "my_connection": "${ppmrps_connection}",
        "my_hostname": "${ppmrps_hostname}",
        "my_username": "${ppmrps_username}",
        "*my_password": "${ppmrps_password}",
        "my_database": "${ppmrps_database}",
        "my_destination": "${ppmrps_destination}",
        "my_folder": "${ppmrps_folder}",
        "my_number": "${ppmrps_number}",
        "my_system_bucket": "${ppm_system_bucket}",
        "my_emr_subnet_id": "${ppm_emr_subnet}",
        "my_emr_master_security_group_id": "${ppm_emr_master_sg}",
        "my_emr_slave_security_group_id": "${ppm_emr_slave_sg}",
        "my_emr_service_access_security_group_id": "${ppm_emr_service_sg}",
        "my_emr_master_instance_type": "${ppm_emr_instance_type}",
        "my_emr_core_instance_type": "${ppm_emr_instance_type}",
        "my_emr_instance_core_count": "${ppm_emr_core_instance_count}",
        "my_emr_terminate_after": "${ppm_emr_terminate_time}",
        "my_emr_region": "${ppm_emr_region}",
        "my_emr_role": "${ppm_emr_role}",
        "my_emr_resource_role": "${ppm_emr_resource_role}",
        "my_table1": "ppm_xref_invoice_type",
        "my_table2": "ppm_xref_legal_entity",
        "my_table3": "ppm_xref_payment_method",
        "my_table4": "ppm_xref_payment_terms",
        "my_table5": "ppm_mstr_gl_acct",
        "my_table6": "glb_mstr_sbu_subset_matrix",
        "my_table7": "ppm_xref_business_unit",
        "my_table8": "ppm_xref_currency",
        "my_table9": "ppm_xref_cc_acct",
        "my_table10": "ppm_xref_cost_center_type",
        "my_table11": "ppm_xref_country",
        "my_table12": "ppm_xref_customer_type",
        "my_table13": "ppm_xref_functional_area",
        "my_table14": "ppm_xref_gl_acct",
        "my_table15": "ppm_xref_key_product_group",
        "my_table16": "ppm_xref_location",
        "my_table17": "ppm_xref_plan_type",
        "my_table18": "ppm_xref_profit_center",
        "my_table19": "ppm_xref_rev_acct",
        "my_table20": "ppm_xref_state",
        "my_table21": "ppm_xref_uom",
        "my_table22": "ppm_xref_ext_attribute_type"
    }
}